./Automatize-Tarefas/Automatize-Tarefas.code-workspace
Pense_em_Python/Pense_em_Python.code-workspace
Pense_em_Python/.venv/
Pense_em_Python/.vscode/
Pense_em_Python/Capitulo1/__pycache__/
Python3-CursoCompleto/.ipynb_checkpoints/
Python3-CursoCompleto/banco_dados/.venv/
Python3-CursoCompleto/banco_dados/.vscode/
Python3-CursoCompleto/banco_dados/__pycache__/
Python3-CursoCompleto/fundamentos_projetos/__pycache__/
Python3-CursoCompleto/notas/.ipynb_checkpoints/
Python3-CursoCompleto/pacotes/app/negocio/__pycache__/
Python3-CursoCompleto/pacotes/app/utils/__pycache__/
Python3-CursoCompleto/pacotes/app/__pycache__/
Python3-CursoCompleto/pacotes/calc/__pycache__/
Python3-CursoCompleto/pacotes/pacote1/__pycache__/
Python3-CursoCompleto/pacotes/pacote2/__pycache__/
Python3-CursoCompleto/poo/loja/__pycache__/
Python3-CursoCompleto/programacao_funcional/__pycache__/
Python3-CursoCompleto/projeto_teste/.venv/
Python3-CursoCompleto/apostila-python3.pdf
Python3-CursoCompleto/Fundamentos.ipynb
Python3-CursoCompleto/python3-completo.code-workspace
Web-Scraping-com_Python/.venv/
Web-Scraping-com_Python/.vscode/
Web-Scraping-com_Python/Capitulo1/.venv/
Web-Scraping-com_Python/Capitulo2/.venv/
Web-Scraping-com_Python/Capitulo3/.venv/